<div id="<%= dom_id costumer %>">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Nombre cliente</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row"> <%= costumer.id %> </th>
        <td> <%= costumer.nombre %> </td>
        <td> <%= costumer.email %> </td>

      </tr>

    </tbody>
  </table>
