<h1>Editing costumer</h1>

<%= render "form", costumer: @costumer %>

<br>

<div class="button">
  <%= link_to "Show this costumer", @costumer, class:"btn btn-outline-secondary" %> 
  <%= link_to "Back to costumers", costumers_path, class:"btn btn-outline-secondary" %>
</div>
